* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('../IMG/background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background: #61dafb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

main a:hover {
    background: #21a1f1;
}

header {
    background-color: #282c34;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
}

header img {
    position: relative;
    top: 2em;
    left: 1em;
    max-width: 50px;
    height: auto;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 1em;
}

nav {
    width: 100%;
}

nav i {
    font-size: 30px;
    color: black;
    cursor: pointer;
    position: relative;
    left: 30em;
    bottom: .5em;
}

nav a {
    text-decoration: none;
}

main {
    position: relative;
    top: 20em;
    left: 1em;
    text-align: center;
    background: #fff;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
    margin: 0 auto;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
    header h1 {
        font-size: 1.5rem;
        left: -5em !important; 
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 6em !important;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}


@media only screen and (min-width: 451px) and (max-width: 500px) {
    header h1 {
        font-size: 1.5rem;
        left: -7em !important; 
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 7em !important;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
        left: -7em !important; 
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 7em !important;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    header h1 {
        font-size: 1.5rem;
        left: -9em !important; 
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 10em !important;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 850px) {
    header h1 {
        font-size: 1.5rem;
        left: -15em;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 15em;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}


@media only screen and (min-width: 851px) and (max-width: 950px) {
    header h1 {
        font-size: 1.5rem;
        left: -15em;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 15em;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1100px) {
    header h1 {
        font-size: 1.5rem;
        left: -18em;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 15em;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1800px) {
    header h1 {
        font-size: 1.5rem;
        left: -22em;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 15em;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}

@media only screen and (min-width: 1801px) and (max-width: 2200px) {
    header h1 {
        font-size: 1.5rem;
        left: -35em;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav i {
        font-size: 25px;
        left: 35em;
    }

    main {
        position: relative;
        top: 10em;
        width: 80%;
    }
}